@import "mixins/button_reset";

$bp-small: 450px;
$bp-medium: 800px;

$bg-color: #0c1317;
$bg-color-highlight: #191a1c;
$bg-color-dim: #13161a;
$content-color: #fff;
$content-dim: #cecfd0;
$content-primary-dim: #34495f;
$bg-primary: #6dadee;
$bg-primary-highlight: #c2dffd;
$bg-primary-dim: #5e9dda;
$bg-primary-dark: #253d55;
$bg-secondary: #505050;
$bg-secondary-dim: #414141;
$bg-secondary-dark: #313131;
$bg-secondary-dark-dim: #212121;
$bg-secondary-black: #1a1a1a;
